Write a function called find_bigrams that takes a sentence or paragraph of strings and returns a list of all bigrams.

Example:

Input:

sentence = """
Have free hours and love children? 
Drive kids to school, soccer practice 
and other activities.
"""

In [11]:
def generate_bigrams(text):
    bigrams = list()
    tokens = text.strip().split()
    for i in range(len(tokens)-1):
        bigram = (tokens[i], tokens[i+1])
        bigrams.append(bigram)
    return bigrams

sent = """
Have free hours and love children? 
Drive kids to school, soccer practice 
and other activities.
"""
print(generate_bigrams(sent))

[('Have', 'free'), ('free', 'hours'), ('hours', 'and'), ('and', 'love'), ('love', 'children?'), ('children?', 'Drive'), ('Drive', 'kids'), ('kids', 'to'), ('to', 'school,'), ('school,', 'soccer'), ('soccer', 'practice'), ('practice', 'and'), ('and', 'other'), ('other', 'activities.')]

You’re given a dataframe df_rain containing rainfall data. The dataframe has two columns: day of the week and rainfall in inches.

Write a function median_rainfall to find the median amount of rainfall for the days on which it rained.

Note: You may assume it rained on at least one of the days.

Input:

import pandas as pd

rainfall = {"Day" : ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"], "Inches" : [0, 1.2, 0, 0.8, 1]}

df_rain = pd.DataFrame(rainfall)
Output:

def median_rainfall(df_rain) -> 1

In [63]:
import pandas as pd

rainfall = {"Day" : ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"], "Inches" : [0, 1.2, 0, 0.8, 1]}

df_rain = pd.DataFrame(rainfall)
df_rain

         Day  Inches
0     Monday     0.0
1    Tuesday     1.2
2  Wednesday     0.0
3   Thursday     0.8
4     Friday     1.0

In [64]:
def median_rainfall(df):
    df = df[df['Inches'] > 0.0]
    # df = df.sort_values(by=['Inches'])
    return df['Inches'].median()
    
median = median_rainfall(df_rain)
print(f'Median: {median}')

Median: 1.0

You’re given a dataframe df_cheeses containing a list of the price of various cheeses from California. The dataframe has missing values in the price column.
Write a function cheese_median to impute the median price of the selected California cheeses in place of the missing values. You may assume at least one cheese is not missing its price.

Example:

Input:

import pandas as pd

cheeses = {"Name": [
"Bohemian Goat", 
"Central Coast Bleu", 
"Cowgirl Mozzarella", 
"Cypress Grove Cheddar", 
"Oakdale Colby"], 
"Price" : [15.00, None, 30.00, None, 45.00]}

df_cheeses = pd.DataFrame(cheeses)
Output:

Name	Price
Bohemian Goat	15.00
Central Coast Bleu	30.00
Cowgirl Mozzarella	30.00
Cypress Grove Cheddar	30.00
Oakdale Colby	45.00

In [65]:
import pandas as pd

cheeses = {"Name": [
"Bohemian Goat", 
"Central Coast Bleu", 
"Cowgirl Mozzarella", 
"Cypress Grove Cheddar", 
"Oakdale Colby"], 
"Price" : [15.00, None, 30.00, None, 45.00]}

df_cheeses = pd.DataFrame(cheeses)

df_cheeses

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu    NaN
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar    NaN
4          Oakdale Colby   45.0

In [72]:
import pandas as pd

def cheese_median(df):
    median_val = df['Price'].median()
    df['Price'] = df['Price'].fillna(median_val)
    return df
    
updated_df = cheese_median(df_cheeses)
print(f'DataFrame with NaN filled as Median:\n{updated_df}')

DataFrame with NaN filled as Median:
                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu   30.0
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar   30.0
4          Oakdale Colby   45.0

Write a function compute_deviation that takes in a list of dictionaries with a key and list of integers and returns a dictionary with the standard deviation of each list.

Note: This should be done without using the NumPy built-in functions.

Example:

Input:

input = [
    {
        'key': 'list1',
        'values': [4,5,2,3,4,5,2,3],
    },
    {
        'key': 'list2',
        'values': [1,1,34,12,40,3,9,7],
    }
]
Output:

 output = {'list1': 1.12, 'list2': 14.19}

In [75]:
input = [
    {
        'key': 'list1',
        'values': [4,5,2,3,4,5,2,3],
    },
    {
        'key': 'list2',
        'values': [1,1,34,12,40,3,9,7],
    }
]
print(input)

[{'key': 'list1', 'values': [4, 5, 2, 3, 4, 5, 2, 3]}, {'key': 'list2', 'values': [1, 1, 34, 12, 40, 3, 9, 7]}]

In [111]:
def compute_deviation(list_numbers):
    N = len(list_numbers)
    sum = 0
    for i in list_numbers:
        sum += i
    mean = sum/N
    num_sum = 0
    for i in list_numbers:
        num_sum += (i - mean)**2
    return round(pow(num_sum/N, 1/2), 2)

std1 = compute_deviation(input[0]['values'])
print(std1)
std2 = compute_deviation(input[1]['values'])
print(std2)

1.12
14.19

You’re given a dataframe of students named students_df:

students_df table

name	age	favorite_color	grade
Tim Voss	19	red	91
Nicole Johnson	20	yellow	95
Elsa Williams	21	green	82
John James	20	blue	75
Catherine Jones	23	green	93
Write a function named grades_colors to select only the rows where the student’s favorite color is green or red and their grade is above 90.

Example:

Input:

import pandas as pd

students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], "grade" : [91, 95, 82, 75, 93]}

students_df = pd.DataFrame(students)
Output:

def grades_colors(students_df) ->
name	age	favorite_color	grade
Tim Voss	19	red	91
Catherine Jones	23	green	93

In [127]:
students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], "grade" : [91, 95, 82, 75, 93]}

students_df = pd.DataFrame(students)
students_df

              name  age favorite_color  grade
0         Tim Voss   19            red     91
1   Nicole Johnson   20         yellow     95
2    Elsa Williams   21          green     82
3       John James   20           blue     75
4  Catherine Jones   23          green     93

In [134]:
def grades_colors(students_df: pd.DataFrame):
    students_df = students_df[((students_df['favorite_color'] == 'green') | (students_df['favorite_color'] == 'red')) & (students_df['grade'] > 90)]
    return students_df

print(grades_colors(students_df))

              name  age favorite_color  grade
0         Tim Voss   19            red     91
4  Catherine Jones   23          green     93

In data science, there exists the concept of stemming, which is the heuristic of chopping off the end of a word to clean and bucket it into an easier feature set. 

Given a dictionary consisting of many roots and a sentence, write a function replace_words to stem all the words in the sentence with the root forming it. If a word has many roots that can form it, replace it with the root with the shortest length.

Example:

Input:


roots = ["cat", "bat", "rat"]
sentence = "the cattle was rattled by the battery"
Output:

 "the cat was rat by the bat"

In [ ]:
def replace_words(roots, sentence):
  pass